<section
  class="character-encounters scroll-margin-top"
  id="character-encounters"
>
  <div class="container">
    <div class="down-subtitle">
      <div class="down-image-title">
        <p>Character Encounters</p>
      </div>
      <hr />
    </div>
    <div class="character-content">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            img/characterEncounters/image-1.png    1x,
            img/characterEncounters/image-1-2x.png 2x
          "
        />

        <source
          media="(max-width: 1199px)"
          srcset="
            img/characterEncounters/image-1-mob.png    1x,
            img/characterEncounters/image-1-2x-mob.png 2x
          "
        />

        <img
          src="img/characterEncounters/image-1-2x-mob.png"
          alt="Character Encounters"
        />
      </picture>
      <div class="character-text">
        <div class="character-item">
          <h4>Aurora</h4>
          <p>The determined heroine driven by love, memory, and logic.</p>
        </div>
        <div class="character-item">
          <h4>Mayor Helena</h4>
          <p>Protective, evasive, and full of half-truths.</p>
        </div>
        <div class="character-item">
          <h4>Elias</h4>
          <p>A local librarian with maps and dark warnings.</p>
        </div>
        <div class="character-item">
          <h4>The Watcher</h4>
          <p>A voice heard only through cursed mirrors.</p>
        </div>
        <div class="character-item">
          <h4>The Red-Eyed Stranger</h4>
          <p>Spotted at the scene — is he a villain or another seeker?</p>
        </div>
      </div>
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            img/characterEncounters/image-2.png    1x,
            img/characterEncounters/image-2-2x.png 2x
          "
        />

        <source
          media="(max-width: 1199px)"
          srcset="
            img/characterEncounters/image-2-mob.png    1x,
            img/characterEncounters/image-2-2x-mob.png 2x
          "
        />

        <img
          src="img/characterEncounters/image-2-2x-mob.png"
          alt="Character Encounters"
        />
      </picture>
    </div>
  </div>
</section>
