<div class="cookies" data-action="cookies" data-active="false">
  <div>
    <h2 class="cookies-title">Cookies</h2>
    <p class="cookies-paragraph">We use cookies to improve your experience on our website. By browsing this website, you agree to our use of cookies.</p>
  </div>
  <div class="button-container">
    <button class="accept-cookie" data-action="accept-cookies" aria-label="Accept Cookies">Accept Cookies</button>
    <button class="decline-cookie" data-action="decline-cookies" aria-label="Decline Cookies">Decline Cookies</button>
  </div>
</div>