<section class="download-section scroll-margin-top" id="download-section">
  <div class="container">
    <div class="down-subtitle">
      <div class="down-image-title">
        <p>Download Section</p>
      </div>
      <hr />
    </div>
    <p class="down-title">No ads. <br class="down-br" />Just secrets.</p>
    <div class="down-banner">
      <p>
        Begin Your Investigation<br class="down-br" />
        in Mystery Town
      </p>
      <a href="https://play.google.com/store/apps/details?id=com.cedargames.mysterytown&hl=en&gl=us" class="down-google-play" target="_blank">
        <svg class="socials-icon" width="24" height="24">
          <use href="/img/sprite.svg#icon-googleplay"></use>
        </svg>
        Google Play
      </a>
    </div>
    <p class="down-cta">Join Aurora’s <br class="down-br" />journey now.</p>
  </div>
</section>
