<section class="gallery scroll-margin-top" id="gallery" data-action="section-nothero">
  <div class="container">
    <div class="down-subtitle">
      <div class="down-image-title">
        <p>Gallery</p>
      </div>
      <hr />
    </div>

    <div class="gallery-context">
      <div class="gallery-swiper-navigation">
        <svg
          class="reviews-svg gallery-swiper-prev"
          width="40"
          height="40"
          aria-label="Left"
          data-gallery-prev
        >
          <use href="/img/sprite.svg#icon-left"></use>
        </svg>
        <svg
          class="reviews-svg gallery-swiper-next"
          width="40"
          height="40"
          aria-label="Right"
          data-gallery-next
        >
          <use href="/img/sprite.svg#icon-right"></use>
        </svg>
      </div>

      <div class="swiper gallery-swiper" data-gallery-swiper>
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  img/gallery/card-1.webp    1x,
                  img/gallery/card-1-2x.webp 2x
                "
              />

              <source
                media="(max-width: 1199px)"
                srcset="
                  img/gallery/card-1-mob.webp    1x,
                  img/gallery/card-1-2x-mob.webp 2x
                "
              />

              <img src="img/gallery/card-1-2x-mob.webp" alt="Card one" />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  img/gallery/card-2.webp    1x,
                  img/gallery/card-2-2x.webp 2x
                "
              />

              <source
                media="(max-width: 1199px)"
                srcset="
                  img/gallery/card-2-mob.webp    1x,
                  img/gallery/card-2-2x-mob.webp 2x
                "
              />

              <img src="img/gallery/card-2-2x-mob.webp" alt="Card two" />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  img/gallery/card-3.webp    1x,
                  img/gallery/card-3-2x.webp 2x
                "
              />

              <source
                media="(max-width: 1199px)"
                srcset="
                  img/gallery/card-3-mob.webp    1x,
                  img/gallery/card-3-2x-mob.webp 2x
                "
              />

              <img src="img/gallery/card-3-2x-mob.webp" alt="Card three" />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  img/gallery/card-4.webp    1x,
                  img/gallery/card-4-2x.webp 2x
                "
              />

              <source
                media="(max-width: 1199px)"
                srcset="
                  img/gallery/card-4-mob.webp    1x,
                  img/gallery/card-4-2x-mob.webp 2x
                "
              />

              <img src="img/gallery/card-4-2x-mob.webp" alt="Card four" />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  img/gallery/card-5.webp    1x,
                  img/gallery/card-5-2x.webp 2x
                "
              />

              <source
                media="(max-width: 1199px)"
                srcset="
                  img/gallery/card-5-mob.webp    1x,
                  img/gallery/card-5-2x-mob.webp 2x
                "
              />

              <img src="img/gallery/card-5-2x-mob.webp" alt="Card four" />
            </picture>
          </li>

          <li class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  img/gallery/card-1.webp    1x,
                  img/gallery/card-1-2x.webp 2x
                "
              />

              <source
                media="(max-width: 1199px)"
                srcset="
                  img/gallery/card-1-mob.webp    1x,
                  img/gallery/card-1-2x-mob.webp 2x
                "
              />

              <img src="img/gallery/card-1-2x-mob.webp" alt="Card one" />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  img/gallery/card-2.webp    1x,
                  img/gallery/card-2-2x.webp 2x
                "
              />

              <source
                media="(max-width: 1199px)"
                srcset="
                  img/gallery/card-2-mob.webp    1x,
                  img/gallery/card-2-2x-mob.webp 2x
                "
              />

              <img src="img/gallery/card-2-2x-mob.webp" alt="Card two" />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  img/gallery/card-3.webp    1x,
                  img/gallery/card-3-2x.webp 2x
                "
              />

              <source
                media="(max-width: 1199px)"
                srcset="
                  img/gallery/card-3-mob.webp    1x,
                  img/gallery/card-3-2x-mob.webp 2x
                "
              />

              <img src="img/gallery/card-3-2x-mob.webp" alt="Card three" />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  img/gallery/card-4.webp    1x,
                  img/gallery/card-4-2x.webp 2x
                "
              />

              <source
                media="(max-width: 1199px)"
                srcset="
                  img/gallery/card-4-mob.webp    1x,
                  img/gallery/card-4-2x-mob.webp 2x
                "
              />

              <img src="img/gallery/card-4-2x-mob.webp" alt="Card four" />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  img/gallery/card-5.webp    1x,
                  img/gallery/card-5-2x.webp 2x
                "
              />

              <source
                media="(max-width: 1199px)"
                srcset="
                  img/gallery/card-5-mob.webp    1x,
                  img/gallery/card-5-2x-mob.webp 2x
                "
              />

              <img src="img/gallery/card-5-2x-mob.webp" alt="Card four" />
            </picture>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
