<section id="game-overview" class="game-overview">
  <div class="container">
    <div class="label-style">
      <div class="label">
        <p class="label-paragraph">Game Overview</p>
      </div>
      <hr>
    </div>
    <div class="game-description">
      <p class="game-description-firstParagraph">Welcome to Mystery Town, a place where time stands still, secrets rot beneath the surface, and your only guide is a glowing trail of clues. <br>Join Aurora as she enters a town gripped by silence, shadows, and forgotten tragedies. A single match or merge might reveal truths no one dares speak aloud.</p>
      <p class="game-description-firstParagraph">With every clue uncovered, you’ll rebuild, reconnect, and reveal the fate of her vanished uncle. Behind every object lies a fragment of the past — and perhaps, the final piece of a dangerous puzzle.</p>
      <p class="game-description-secondParagraph">Solve. Merge. Reveal. The mystery won’t wait</p>
    </div>
  </div>
</section>