<header class="header">
  <div class="container">
      <div class="header-container-style">
        <img src="../img/header/logo.png" alt="gameLogo" class="logoStyle">
        <button class="btn-menu">
          <svg class="burger-menu" width="16" height="16">
            <use href="../img/sprite.svg#icon-burger"></use>
          </svg>
        </button>
      </div>
      <div class="mobile-menu">
        <nav class="nav-mobile">
          <ul class="list-flex">
            <li><p>Home</p></li>
            <li><p>Game Overview</p></li>
            <li><p>Gameplay Features</p></li>
            <li><p>How to Play</p></li>
            <li><p>Character Encounters</p></li>
            <li><p>Gallery</p></li>
            <li><p>Reviews</p></li>
            <li><p>Download Section</p></li>
            <li><p>FAQ</p></li>
            <li><p>Contact</p></li>
          </ul>
        </nav>
      </div>
      <nav class="nav-desktop">
        <ul>
          <li><p>Home</p></li>
          <li><p>Game Overview</p></li>
          <li><p>Gameplay Features</p></li>
          <li><p>How to Play</p></li>
          <li><p>Character Encounters</p></li>
          <li><p>Gallery</p></li>
          <li><p>Reviews</p></li>
          <li><p>Download Section</p></li>
          <li><p>FAQ</p></li>
          <li><p>Contact</p></li>
        </ul>
      </nav>
  </div>
</header>