<header class="header">
  <div class="container">
      <div class="header-container-style">
        <img src="/img/header/logo.png" alt="gameLogo" class="logoStyle">
        <button class="btn-menu" data-action="toggle-menu" aria-label="Menu">
          <svg class="burger-menu" width="16" height="16">
            <use href="/img/sprite.svg#icon-burger"></use>
          </svg>
        </button>
        <nav class="nav-desktop">
          <ul class="desktop-list-flex">
            <li><a href="#hero" aria-label="Home">Home</a></li>
            <li><a href="#game-overview" aria-label="Game Overview">Game Overview</a></li>
            <li><a href="#gameplay-features" aria-label="Gameplay Features">Gameplay Features</a></li>
            <li><a href="#how-to-play" aria-label="How to Play">How to Play</a></li>
            <li><a href="#character-encounters" aria-label="Character Encounters">Character Encounters</a></li>
            <li><a href="#gallery" aria-label="Gallery">Gallery</a></li>
            <li><a href="#reviews" aria-label="Reviews">Reviews</a></li>
            <li><a href="#download-section" aria-label="Download Section">Download Section</a></li>
            <li><a href="#faq" aria-label="FAQ">FAQ</a></li>
            <li><a href="#footer" aria-label="Contact">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="mobile-menu">
        <nav class="nav-mobile">
          <ul class="mobile-list-flex">
            <li><a href="#hero" aria-label="Home">Home</a></li>
            <li><a href="#game-overview" aria-label="Game Overview">Game Overview</a></li>
            <li><a href="#gameplay-features" aria-label="Gameplay Features">Gameplay Features</a></li>
            <li><a href="#how-to-play" aria-label="How to Play">How to Play</a></li>
            <li><a href="#character-encounters" aria-label="Character Encounters">Character Encounters</a></li>
            <li><a href="#gallery" aria-label="Gallery">Gallery</a></li>
            <li><a href="#reviews" aria-label="Reviews">Reviews</a></li>
            <li><a href="#download-section" aria-label="Download Section">Download Section</a></li>
            <li><a href="#faq" aria-label="FAQ">FAQ</a></li>
            <li><a href="#footer" aria-label="Contact">Contact</a></li>
          </ul>
        </nav>
      </div>
  </div>
</header>