<section id="hero" class="hero">
  <div class="container">
    <div class="hero-container">
      <h1 class="page-title">Mystery Town  Merge & Cases</h1>
      <ul class="hero-list">
        <li class="list-style">Uncover Secrets.</li>
        <li class="list-style second">Merge Clues.</li>
        <li class="list-style third">Solve the Curse.</li>
      </ul>
      <div class="position"><a href="https://play.google.com/store/apps/details?id=com.cedargames.mysterytown&hl=en&gl=us" class="link-to-start">Start the Investigation Now</a></div>
    </div>
  </div>
</section>