<section id="how-to-play" class="how-to-play scroll-margin-top" data-action="section-nothero">
  <div class="container">
    <div class="label-style">
      <div class="label">
        <p class="label-paragraph">How to Play</p>
      </div>
      <hr>
    </div>
    <div>
      <ul class="list">
        <li class="list-item">
          <p class="paragraph-list">1</p>
          <div class="container-style-list">
            <h2 class="list-title">Start With Fire</h2>
            <p class="list-title-paragraph">Arrive at your uncle’s home in ruins something sinister has begun.</p>
          </div>
      </li>
        <li class="list-item">
          <p class="paragraph-list">2</p>
          <div class="container-style-list">
            <h2 class="list-title">Merge Objects</h2>
            <p class="list-title-paragraph">Combine matching items to craft tools, decode signs, and reveal long-lost relics.</p>
          </div>
        </li>
        <li class="list-item">
          <p class="paragraph-list">3</p>
          <div class="container-style-list">
            <h2 class="list-title">Restore the Town</h2>
            <p class="list-title-paragraph">Complete merge quests to repair buildings and unlock new fog-shrouded districts.</p>
          </div>
        </li>
        <li class="list-item-photo">
          <picture>
            <source
              srcset="
                /img/howToPlay/women.png 1x,
                /img/howToPlay/women-2x.png 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                /img/howToPlay/women-mob.png 1x,
                /img/howToPlay/women-2x-mob.png 2x
              "
              media="(width: 320px)"
            />

            <img
              class="image-list"
              src="/img/howToPlay/women-2x-mob.png"
              alt="woman"
            />
          </picture>
        </li>
        <li class="list-item">
          <p class="paragraph-list">4</p>
          <div class="container-style-list">
            <h2 class="list-title">Question Everyone</h2>
            <p class="list-title-paragraph">Gather rumors, testimonies, and warnings. Friend or foe? You decide.</p>
          </div>
        </li>
        <li class="list-item">
            <p class="paragraph-list">5</p>
            <div class="container-style-list">
              <h2 class="list-title">Break the Curse</h2>
              <p class="list-title-paragraph">Piece together all clues to uncover the truth before the final seal is broken.</p>
            </div>
        </li>
        <li class="list-item-second-photo">
          <picture>
            <source
              srcset="
                /img/howToPlay/fire.png 1x,
                /img/howToPlay/fire-2x.png 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                /img/howToPlay/fire-mob.png 1x,
                /img/howToPlay/fire-2x-mob.png 2x
              "
              media="(width: 320px)"
            />

            <img
              class="image-list"
              src="/img/howToPlay/fire-2x-mob.png"
              alt="shadow on fire"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>