<section class="reviews scroll-margin-top" id="reviews" data-action="section-nothero">
  <div class="container">
    <div class="down-subtitle">
      <div class="down-image-title">
        <p>Reviews</p>
      </div>
      <hr />
    </div>

    <div class="reviews-context">
      <div class="reviews-swiper-navigation">
        <svg
          class="reviews-svg reviews-swiper-prev"
          width="40"
          height="40"
          aria-label="Left"
          data-reviews-prev
        >
          <use href="/img/sprite.svg#icon-left"></use>
        </svg>
        <svg
          class="reviews-svg reviews-swiper-next"
          width="40"
          height="40"
          aria-label="Right"
          data-reviews-next
        >
          <use href="/img/sprite.svg#icon-right"></use>
        </svg>
      </div>

      <div class="swiper reviews-can-see" data-reviews-swiper>
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <div class="reviews-comment">
              <svg class="stars">
                <use href="/img/sprite.svg#icon-stars"></use>
              </svg>
              <p>
                “Merging was never this intense. Every clue, every object tells
                a story — it’s addictive!”
              </p>
            </div>
            <div class="reviews-about-author">
              <img src="img/reviews/avatar-jasmine.png" alt="Jasmine L" />
              <div class="name-author">
                <p class="name">Jasmine L.</p>
                <p class="role">Puzzle Lover</p>
              </div>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="reviews-comment">
              <svg class="stars">
                <use href="/img/sprite.svg#icon-stars"></use>
              </svg>
              <p>
                “The fog, the music, the merging system it’s like playing a
                novel with twists at every turn.”
              </p>
            </div>
            <div class="reviews-about-author">
              <img src="img/reviews/avatar-toby.png" alt="Toby M." />
              <div class="name-author">
                <p class="name">Toby M.</p>
                <p class="role">Mystery Fanatic</p>
              </div>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="reviews-comment">
              <svg class="stars">
                <use href="/img/sprite.svg#icon-stars"></use>
              </svg>
              <p>
                “It’s spooky in the best way. I merged an old clock and found a
                diary entry that changed everything.”
              </p>
            </div>
            <div class="reviews-about-author">
              <img src="img/reviews/avatar-alina.png" alt="Alina K." />
              <div class="name-author">
                <p class="name">Alina K.</p>
                <p class="role">Cozy Gamer</p>
              </div>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="reviews-comment">
              <svg class="stars">
                <use href="/img/sprite.svg#icon-stars"></use>
              </svg>
              <p>
                “The pacing, plot, and merging mechanics are brilliantly tied
                together. A masterpiece.”
              </p>
            </div>
            <div class="reviews-about-author">
              <img src="img/reviews/avatar-noel.png" alt="Noel D." />
              <div class="name-author">
                <p class="name">Noel D.</p>
                <p class="role">Detective at Heart</p>
              </div>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="reviews-comment">
              <svg class="stars">
                <use href="/img/sprite.svg#icon-stars"></use>
              </svg>
              <p>
                “Forget casual — this is thoughtful, atmospheric, and totally
                captivating.”
              </p>
            </div>
            <div class="reviews-about-author">
              <img src="img/reviews/avatar-greta.png" alt="Greta V." />
              <div class="name-author">
                <p class="name">Greta V.</p>
                <p class="role">Merge Game Expert</p>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="reviews-swiper-pagination"></div>
    </div>
  </div>
</section>
