.back-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.36;

  display: flex;
  align-items: center;
  gap: 10px;
}
.back-link-icon {
  stroke: var(--color-light-yellow);
  fill: none;

  transition: stroke 0.3s, fill 0.3s;
}
.back-link:hover .back-link-icon {
  stroke: var(--color-yellow);
}
.back-link:active .back-link-icon {
    stroke: var(--color-black);
  fill: var(--color-yellow);
}

@media only screen and (min-width: 1200px) {
  .back-link {
    font-family: 'Cormorant Garamond', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 0.625;
    gap: 16px;
  }
}
