:root {
  --color-yellow: #fff600;
  --color-light-yellow: #e2df9b;
  --color-orange: #fd530a;
  --color-white: #ffffff;
  --color-dark-blue: #000912;
  --color-black: #000000;
  --color-beige: #e5e4c7;
  --gradient-main: linear-gradient(
    180deg,
    #0b0e16 21.85%,
    #031513 52.25%,
    #0b0e16 80%
  );
  --gradient-overplay: linear-gradient(
    256.45deg,
    rgba(25, 25, 25, 0.3) 0%,
    rgba(11, 14, 22, 0.7) 46.67%,
    rgba(25, 25, 25, 0.3) 95.81%
  );

  color: var(--color-white);
  background: var(--gradient-main);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lora', serif;

  /* display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh; */
  margin: 0;
}

body.no-scroll {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}

section{
  margin: 0 auto 60px auto;
}

section:not(.hero) {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s cubic-bezier(.37,1.26,.77,1.22), transform 0.8s cubic-bezier(.37,1.26,.77,1.22);
  will-change: opacity, transform;
}
section.visible:not(.hero) {
  opacity: 1;
  transform: none;
}

.scroll-margin-top {
  scroll-margin-top: 57px;
}
h1 {
  font-family: 'Lora', serif;
  font-size: 32px;
  font-weight: 500;
}

h2 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  font-weight: 500;
}


@media only screen and (min-width: 1200px) {
  section {
    margin: 0 auto 100px auto;
  }
  .scroll-margin-top {
    scroll-margin-top: 100px;
  }
  h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 48px;
    font-weight: 500;
  }

  h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 32px;
    font-weight: 500;
  }

  h3 {
    font-family: 'Lora', serif;
    font-size: 32px;
    font-weight: 500;
  }
}
