.character-content {
  margin-top: 24px;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  gap: 16px;
}
.character-content picture {
  border: var(--color-light-yellow) solid 1px;
  border-radius: 5px;
  padding: 11px 7px;
}
.character-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.character-item {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.character-item h4 {
  color: var(--color-yellow);
  font-family: 'Cormorant Garamond';
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
}
.character-item p {
  font-family: 'Lora';
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

@media only screen and (min-width: 1200px) {
  .character-content {
    margin-top: 64px;

    flex-direction: row;
    justify-content: center;
    gap: 52px;
  }
  .character-content picture {
    padding: 11px 8px;
  }
  .character-text {
    width: 318px;
    gap: 24px;
  }
  .character-item {
    gap: 12px;
  }
  .character-item h4 {
    font-size: 24px;
  }
  .character-item p {
    font-size: 20px;
  }
}
