.footer {
  color: var(--color-light-yellow);
  font-family: 'Lora', sans-serif;
  font-size: 16px;
  text-align: center;
  margin-bottom: 19px;
}
.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
/* email */
.footer-email-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-weight: 400;
  font-size: 18px;

  transition: color 0.3s;
}
.footer-icon {
  stroke: var(--color-light-yellow);
  transition: stroke 0.3s;
}
/* hover */
.footer-email-link:hover {
  color: #b4af4d;
}
.footer-email-link:hover .footer-icon {
  stroke: #b4af4d;
}
/* active */
.footer-email-link:active {
  color: var(--color-yellow);
}
.footer-email-link:active .footer-icon {
  stroke: var(--color-yellow);
}

/* socials */
.footer-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.footer .socials-icon {
  fill: var(--color-light-yellow);
  transition: fill 0.3s;
}
.footer-socials a:hover .socials-icon {
  fill: #b4af4d;
}
.footer-socials a:active .socials-icon {
  fill: var(--color-yellow);
}

/* address */
.footer .address {
  text-align: left;
  font-weight: 400;
  line-height: 1.36;
}

.footer hr {
  margin: 16px 0 24px 0;
  border: var(--color-yellow) solid 1px;
}

/* policies */
.footer .policies {
  display: flex;
  flex-direction: column;

  font-weight: 500;
  font-size: 20px;
  gap: 16px;

  margin-bottom: 24px;
}
.footer .policies a {
  transition: color 0.3s;
}
.footer .policies a:hover {
  color: #b4af4d;
}
.footer .policies a:active {
  color: var(--color-yellow);
}

.footer .copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.36;
  opacity: 0.9;
}
